* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(43deg, #4D2B84, #845EC2,#00C9A7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

section,
footer,
header {
    padding: 1rem;
}

section {
    scroll-margin-top: 100px;
    width: 100%;       
    margin: 2rem 0;  
    max-width: 1400px; 
    align-items: center;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    scroll-margin-top: 60px;
    background: linear-gradient(43deg, #4D2B84, #845EC2,#00C9A7);
}

li {
    display: inline-block;
    padding: 1rem;
}

#logo {
    width: 5rem;
    height: 5rem;
    top: 0;
    left: 0;
}

li {
    list-style: none;
}


h1 {
    font-size: 3rem;
    font-family: 'Abril Fatface', serif;
    text-align: start;
}

h2 {
    margin-top: 1rem;
    font-size: 3rem;
    font-family: 'Abril Fatface', serif;
    color: #FFFFFF;
    text-align: start;
}

h2:first-child {
    margin-top: 40px;
}

h3 {
    font-family: 'Gabarito', sans-serif;
    margin-bottom: 3rem;
}

h4 {
    font-family: 'Jomolhari', serif;
    color: #FF6F91;
    margin-top: 1rem;
}

.home-page {
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
    gap: 200px;
    margin-bottom: 200px;
}

#profile {
    width: 300px;
    height: auto;
  }

#about-me {
    padding: 1rem;
}

.about-me {
    display: flex;
    gap: 5rem;
}

#about-me img {
    max-width: 300px;
}

.about-me-intro {
    font-size: 24px;
}

#project {
    width: 100%;
}

.projects {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.project {
    width: 30%;
    text-align: center;
}

.project a {
    color: #FF6F91;
}

.project a:hover {
    color:#00C9A7;
}

.project img {
    max-height: 200px;
}

.caption {
    font-style: italic;
}

#skills {
    margin: 10rem 0;
    display: flex;
}

.skills-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bar {
    width: 100%;
    background-color: #FBEAFF;
}

.html {width: 90%; background-color: #FF6F91} 
.css {width: 80%; background-color: #FF6F91} 
.figma {width: 80%; background-color: #FF6F91} 
.js {width: 70%; background-color: #FF6F91} 
.problem-solving {width: 90%; background-color: #FF6F91} 
.collaboration {width: 90%; background-color: #FF6F91} 
.self-learning {width: 95%; background-color: #FF6F91} 

.card{
    width: 15%;
    text-align: center;
    margin: 1rem;
}

.skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #00C9A7;
    font-weight: bold;
}

.icons {
    max-height: 70px;
    margin-bottom: 10px;
    object-fit: cover;
}

.bar {
    margin-top: 20px;
}

p {
    font-family: 'Jomolhari', serif;
}

div {
    padding: 0;
    margin: 0;
}

#gallery {
    width: 100%;
}

.grid-container {
    width: 95%;
    display: grid;
    gap: 0.2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 150px);
}

.grid-container img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

.item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
}

.item-2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 3;
}

.item-3 {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
}

.item-4 {
    grid-column: 5 / span 2;
    grid-row: 3 / span 2;
}

.item-5 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

.item-6 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

.item-7 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}

.item-8 {
    grid-column: 2 / span 3;
    grid-row: 4 / span 3;
}

.item-9 {
    grid-column: 5 / span 2;
    grid-row: 5 / span 2;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.form-wrap {
background-color: #333;
text-align: center;
margin: 0 auto;
padding: 20px;
}

.form-group {
    margin: 20px;
    padding: 10px;
    display: block;
}

.form-group label {
    width: 150px;
    text-align: right;
    display: inline-block;
    margin-bottom: 5px;
}


.form-group input {
    width: 300px;
    height: 30px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
}

.form-wrap h3,
.form-wrap p {
    margin: 30px;
}

.form-wrap p {
    margin-bottom: 0px;
}

.form-wrap button {
    background-color: #FF6F91;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

.form-wrap button:hover {
    background: #845EC2;
}

@media screen and (max-width: 768px) {
    main {
        padding: 1rem;
    }

    .home-page {
        flex-direction: column;
        align-items: flex-start;
    }

    #logo {
        width: 3rem;
        height: 3rem;
    }

    nav {
        margin-top: 1rem;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-bottom: 0.5rem;
    }
}